@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    6121 N Campbell Avenue<br />
    Chicago, IL 60659<br />
    <abbr title="Phone">P:</abbr>
    201.680.9613
</address>

<address>
    <strong>Email:</strong>   <a href="othmane.benhammou@tcs.com">othmane.benhammou@tcs.com</a><br />
    <strong>Personal Email:</strong>   <a href="oth.benhammou@gmail.com">oth.benhammou@gmail.com</a><br />
</address>