@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>TCS Wintrust Little Exercice</h1>
        <p class="lead">in this exercice, I created a new project ASP MVC, and updated/added some fields in the model regarding the error message to login and to register (password 8 characters).</p>
        <p class="lead">Also I generated/updated/created the required code to display the users (CRUD)</p>

        <p>Some operations requires connection to the DB like Login (when the password contains 8 characters or more and the required email</p>
        <p>The Register User Static Page is just a static page to as you asked me to do (ZipCode, Reuired field ...</p>

        <p>
        <p>
            <b><text> Exercice 1</text></b>
            Reverse element of the string:<b> one two three four five</b>
            <h4> Result: <b><i>@ViewBag.merged</i></b></h4>
        </p>
        <p>
            <b><text> Exercice 2</text></b>
            Duplicate letters in the string:<b> one two three four five.</b>
            <h4>Result:  <b><i> @ViewBag.duplicate</i></b></h4>


        </p>
        </p>

        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <p>
            <img src="~/Content/wintrust.png"
        </p>
        <p><a class="btn btn-default" href="https://www.wintrustbank.com/">Visit us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p>
            <img src="~/Content/linkedin.png"

        </p>        <p>Othmane Benhammou</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/othmane-benhammou/">My Linkedin &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Portfolio</h2>
        <p><a href="https://www.myoathportfolio.com/"> https://www.myoathportfolio.com/</a></p>
    </div>
</div>